<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <h1>{{pricewk}}</h1> -->

<!-- HTMLではthisは不要 -->
<!-- <button (click)="add100()">ボタン</button> -->

<!-- <a href="https://wwww.google.com">外部リンク</a> -->
<!-- <a target="_blank" href="https://www.google.com">外部リンク</a> -->
<!-- <a routerLink="/topbar">テストボタン1</a>
<a routerLink="/">テストボタン2</a> -->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
